@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/SFUFuturaRegular.woff2') format('woff2'),
       url('../assets/fonts/SFUFuturaRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/SFUFuturaItalic.woff2') format('woff2'),
       url('../assets/fonts/SFUFuturaItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
.auth-page,
.auth-page * {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
}
