/* client/src/index.css */
@import 'antd/dist/reset.css';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Futura';
  src: url('/fonts/SFUFuturaRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: 'Futura';
  src: url('/fonts/SFUFuturaRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap
}

body {
  font-family: 'Futura', sans-serif;
  font-weight: 400; 
  text-transform: none;
}

b, strong, [style*="font-weight:700"], [style*="font-weight:800"], [style*="font-weight:900"] {
  font-weight: 400 !important;       
  -webkit-text-stroke: 0.2px;     
  text-stroke: 0.2px;               
  text-transform: none;             
}
.api-text,
.api-text * {
  font-family: 'Futura', sans-serif;
  text-transform: lowercase; 
  font-weight: 400;         
}

.hardcode-text {
  text-transform: uppercase;
  font-weight: 400;          
  -webkit-text-stroke: 0.2px; 
  text-stroke: 0.2px;
}

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }

/* Scrollbar ẩn */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
